.container{
    width:1188px;
    height:427px;
    background-color: #ffff;
    border-radius: 10px;
    border: 1px solid #00000033;
    margin: 36px 126px 99px 126px;
    padding: 29px 20px 30px 24px;
}
.container .row{
    display: flex;
   
}
.container .rowLeft{
    margin-right: 24px;
}
.container .description{
    display: flex;
  
}
.container .description div{
    display: flex;
    align-items: center;
    width: 163px;
    height:47px ;
}
.container .description div p{
    
    font-size: 20px;
    font-weight: 400;
    color: #7D7D7D;
    margin: 3.5px 8px 3.5px 22px;
}
.container .price{
    display: flex;
    margin-top: 32px;
}
.container .price p{
    font-size: 14px;
    font-weight: 400;
    color:#282828CC ;
}
.container .price span{
    font-size: 28px;
    font-weight: 500;
    color: #009ECA;
}
.container .details{
    display: flex;
}
.container .details2{
    display: flex;
}
.container .details2 p{
    font-size:18px ;
    font-weight: 400;
    color: #444444;
    margin-right: 8px;
}
.container .line{
    height: 84px;
    border: 1px solid #00000040;
    /* margin-right: 43px; */
    margin-top: 22px;

}
.box{
    margin: 30px 44px 30px 43px;
}
.box p{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    margin-top: 4px;
}
.container .price div{
    /* width: 204px;
    height: 56px;
    border: none;
    padding: 8px;
    border-radius: 10px;
    color: #ffff;
    font-size:24px;
    font-weight:400;
    background: #28A745; */
margin-right: 342px;

}
.container .rowLeft h2{
    font-size: 32px;
    font-weight: 700;
    color: #000000;
    letter-spacing: 2px;

}
.container .duration{
    font-size:20px;
    font-weight:400;
    color:#000000 ;
}