.container{
    width: 561px;
    height: 362px;
    display: flex;
    align-items: center;
    justify-content: center;
   background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3333337D;
    backdrop-filter: blur(10px);
    


}

.box{
    display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
    width:472px;
    height: 338px;
    border-radius: 30px;
    
    background-color:#fff ;
}
    
.cross{
    position: absolute;
    left: 23px;
    top:12.3px;
    width: 24px;
    height:24px;
    color: #171717;
    cursor: pointer;
}
@media(max-width:768px){
    .box{
        width: 358px;
    height: 362px;
    }
}