.container button{
    border: none;
    background: none;
}
.mobileNumber{
    border: none;
    display: flex;
}
.mobileNumber img{
    margin-right: 8px;
    /* position: relative; */
}
.boxContainer{
    /* position: absolute; */
    width: 256px;
    height: 151px;
    border: 1px solid #0000001F;
    border-radius: 11px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    padding: 5px;
    top:10px;
    left: 517px;
    background-color: #ffff;
    color: #000;
}