.container{
    max-width: 1440px;
  /* height: 1138px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 43px 174px 174px 82px;
  overflow-y: hidden;
  }
  .contex p{
      font-family:'YekanBakhRegular';
      font-size:36px;
      font-weight:600;
      color:#282828;
  }
  .contex a{
      background-color: #D8FFE1;
      display: inline-block;
      width:361px;
      height:75px;
      padding: 16px 45px;
      color: #28A745;
      font-family:'YekanBakhRegular';
      font-size:26px;
      font-weight:600;
      margin-top: 81px;
  }