
.container{
  max-width: 1440px;
/* height: 1138px; */
display: flex;
justify-content: space-between;
align-items: center;
padding: 43px 174px 174px 82px;
overflow-y: hidden;
}
.contex .server{
    /* font-family:'YekanBakhRegular'; */
    font-size:36px;
    font-weight:600;
    color:#282828;
    padding: 16px 45px;
}
.contex .tryagain{
    /* background-color: #D8FFE1; */
    display: inline-block;
    width:361px;
    height:75px;
    padding: 16px 45px;
    color:#282828;
   
    font-size:26px;
    font-weight:600;
    margin-top: 81px;
}
@media(max-width:768px){
  .container{
    max-width: 400px;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    padding: 45px 34px 168px 34px;
  }
  .container .imageServer{
    width:322px;
    height: 322px;
  }
  .server{
    
  
    font-size: 24px;
    padding: 0px;
  }
  .tryagain{
   width: 195px;
    font-size: 16px;
    padding: 0px;
  }
}