
.container{
    width: 279px;
    height: 277px;
    margin: 11px 0px 30px 24.75px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px #00000040;

}
.details h3{
   
    font-size:22px;
    font-weight: 400;
    color: #000000;
    margin: 8px  8px 6px;
}
.detailsTime{
    display: flex;

    font-size:15px;
    font-weight:400;
    color:#282828B2;
margin: 2px 3px;
word-spacing: 3px;
    
}

.line{
    border: 1px solid #D9D9D9;
}
.price{
    display: flex;
    justify-content: space-between;
    padding: 8px 9px 8px 8px;
}
.price a{
    width: 64px;
    height: 25px;
    background-color: #28A745;
    color: #ffff;
   margin-top: -5px;
    display: inline-block;
    border-radius: 4px;
   text-align: center;
}
.price span{
    color: #009ECA;
    font-weight: 400;
    font-size: 16px;
  
}
.price p{
    color: #000000;
   
}
@media(max-width:768px){
    .details img{
      width: 327.44px;
      height: 159px;
    }
    .container{
        width: 327px;
        height: 277px;
        margin: 24px -78.56px 0px 31px;
    }
}