.container{
    width: 872px;
    height: 179px;
    border: 1px solid #00000033;
    border-radius: 10px;
  
}
.container h5{
    font-size:16px;
    font-weight: 400;
    color:#000000;
    margin: 12px;
    margin-bottom: 0;
}
.container form div{
    display: flex;
}
.container input{
    width: 255px;
    height: 45px;
    margin: 20px 8px 20px 28px;
    border: 1px solid #00000080;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    color:#00000080;
    
}
.line{
    width: 870px;
    border: 1px solid #00000033;
    margin-top: 2px;
}
.button{
    display: flex;
}
.container form button{
    align-items: end;
    width: 144px;
    height: 41px;
    background: #28A745;
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
   color: #FFFFFF;
    margin: 4px 541px 8px 0px;

}
.container .button .cansel{
    margin-right: 10px;
    border: 2px solid #28A745;
    color:#28A745;
    background: #ffffff;
}
.error{
    display: flex;
    flex-direction: column;
    /* justify-content: right; */
   
}
.errorInput{
    font-size: 14px;
    font-weight: 400;
    color: red;
    margin-top: -5px;
    margin-left: 2px;
    margin-right: 5px;
}
@media (max-width: 768px) {
    .container{
        width: 328px;
        height: 294px;
        margin: 23px -292px 0 31px;
    }
    .container input{
        margin: 0px;
        padding: 0px;
    }
   
    .container .row{
     display: flex;
     flex-direction: row;
    }
    .container .first{
     margin: 24px 20px 0px 88px;
    }
    .container .second{
     margin: 24px 0px 0px 21px;
    }
    .container .edit{
     margin: 8px 12px 0px 57px;
     display: flex;
  
    }
    .container .edit a{
     margin: -16px 24px 0px 0px;
    }
    .container h5{
     margin: 12px;
    }
    .container form .line{
        border: none;
    }
    .container form button{
        width: 138.72px;
        height: 41px;
        margin: 0;   
     }
    .container input{
        width: 289px;
        height: 40px;
        margin: 14px 20px 0px 19px;
    }
    
    .container .form{
        display: flex;
        flex-direction: column;
    }
    .button{
        width: 100%;
        height: 41px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        margin: 18px 2px 16px 21px;
    }
    .container .button .cansel{
    margin-right: -20px;
    }
 }