.container{
    width: 872px;
    height: 230px;
    border: 1px solid #00000033;
    border-radius: 10px;
    /* margin-bottom: 9px; */
    margin-top: 24px;
    margin-bottom:19px;
  
}
.container h5{
    font-size:16px;
    font-weight: 400;
    color:#000000;
    margin: 12px;
    margin-bottom: 0;
}
.container form div{
    display: flex;
    flex-wrap: wrap;
}
.container input{
    width: 140px;
    height: 35px;
    margin: 10px 8px 20px 28px;
    border: 1px solid #00000080;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    color:#00000080;
    
}
.container select{
    width: 255px;
    height: 45px;
    margin: 20px 8px 20px 28px;
    border: 1px solid #00000080;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    color:#00000080;
}
.line{
    width: 870px;
    border: 1px solid #00000033;
    margin-top: 2px;
}
.button{
    display: flex;
    flex-wrap: wrap;
}
.container form button{
    align-items: end;
    width: 144px;
    height: 41px;
    background: #28A745;
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
   color: #FFFFFF;
    margin: 4px 541px 8px 0px;

}
.container .button .cansel{
    margin-right: 10px;
    border: 2px solid #28A745;
    color:#28A745;
    background: #ffffff;
}
.error{
    display: flex;
    justify-content: right;
   
}
.errorInput{
    font-size: 14px;
    font-weight: 400;
    color: red;
    margin-top: 20px;
    margin-left: 2px;
}
@media (max-width: 768px) {
    .container{
        width: 328px;
        height: 355px;
        margin: 23px -292px 0 31px;
    }
    .container div{
       display: flex;
       flex-direction: column;
       
    }
    .container .row{
       display: flex;
       flex-direction: row;
      }
      .container .first{
       /* margin: 24px 20px 0px 88px; */
       margin: 14px 20px 0px 93px;
      }
      .container .second{
      margin: 14px 0px 0px 36px;
      }
      .container .edit{
       margin: -40px 207px 0px 17px;
       /* margin: 8px 12px 0px 57px; */
       display: flex;
    
      }
      .container .edit a{
       margin: -16px 20px 0px 0px;
      }
      .container h5{
       margin: 12px;
      }
      .line{
        display: none;
      }
      .container input{
        width:289px;
        height:40px;
        margin: 4px 20px 0px 19px;
        gap: 8px;
      }
      .container form button{
        width:138.72px;
        height:41px;
        margin: 0px;
      }
      .container select{
        width: 289px;
        height: 40px;
      }
     
      
      .container .button .cansel{
        margin-right: -20px;
      }
     
      .button{
        width: 100%;
        height: 0;
        display: flex;
        flex-direction:row;
        flex-wrap: nowrap;
        margin: 10px 20px 19px 21px;
      }
      .container form .line{
        border: none;
      }
    
 }